nodered/flows.json
[
  {
      "id": "7583fe25.07e35",
      "type": "tab",
      "label": "API-RealTime",
      "disabled": false,
      "info": ""
  },
  {
      "id": "3bdd7169.8f727e",
      "type": "tab",
      "label": "API-gzip",
      "disabled": false,
      "info": ""
  },
  {
      "id": "c399aa20.50a1d8",
      "type": "tab",
      "label": "API-image",
      "disabled": false,
      "info": ""
  },
  {
      "id": "ae418026.08717",
      "type": "tab",
      "label": "API Monitoring Postgres",
      "disabled": false,
      "info": ""
  },
  {
      "id": "4698b0bb.d6151",
      "type": "tab",
      "label": "API-Download-CSV",
      "disabled": false,
      "info": ""
  },
  {
      "id": "c3466a65.1866b8",
      "type": "tab",
      "label": "API-Notification-Download-CSV",
      "disabled": false,
      "info": ""
  },
  {
      "id": "c20f618c.15f57",
      "type": "tab",
      "label": "TEST",
      "disabled": false,
      "info": ""
  },
  {
      "id": "c15f70c9.8a8ad",
      "type": "tab",
      "label": "influxdb",
      "disabled": false,
      "info": ""
  },
  {
      "id": "1cd6cc46.11b024",
      "type": "aws-sdk-anything-config",
      "z": "",
      "name": "AWS",
      "region": "ap-northeast-1"
  },
  {
      "id": "98cc60f6.59bc7",
      "type": "postgresdb",
      "z": "",
      "hostname": "iot-start-kit-postgres.c0wfjk7mltfr.ap-northeast-1.rds.amazonaws.com",
      "port": "5432",
      "db": "iot_start_kit_db",
      "ssl": false
  },
  {
      "id": "bec60077.b4c74",
      "type": "influxdb",
      "z": "c15f70c9.8a8ad",
      "hostname": "iot-start-kit-influxdb.ap-northeast-1.elasticbeanstalk.com",
      "port": "80",
      "protocol": "http",
      "database": "geolocation",
      "name": "",
      "usetls": false,
      "tls": ""
  },
  {
      "id": "f9509aab.b5a348",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 438,
      "y": 96,
      "wires": []
  },
  {
      "id": "cede21a.782efe",
      "type": "http in",
      "z": "7583fe25.07e35",
      "name": "",
      "url": "/api/v1/particle",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 164,
      "y": 128,
      "wires": [
          [
              "2f54f60d.c145ba",
              "f9509aab.b5a348",
              "6339f5ea.52410c",
              "f4fe68a9.bb7f98"
          ]
      ]
  },
  {
      "id": "74e544b4.82986c",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "Real Time API",
      "info": "",
      "x": 134,
      "y": 80,
      "wires": []
  },
  {
      "id": "2f54f60d.c145ba",
      "type": "http response",
      "z": "7583fe25.07e35",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1010,
      "y": 128,
      "wires": []
  },
  {
      "id": "7def9174.7e266",
      "type": "http in",
      "z": "c20f618c.15f57",
      "name": "",
      "url": "/test/upload/gzip",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 212,
      "y": 112,
      "wires": [
          [
              "60ca25e1.51d87c"
          ]
      ]
  },
  {
      "id": "60ca25e1.51d87c",
      "type": "template",
      "z": "c20f618c.15f57",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<form action=\"http://nodered1201-dev.yzxq2qpgsp.us-east-1.elasticbeanstalk.com/api/v1/gzip\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
      "x": 412,
      "y": 112,
      "wires": [
          [
              "7d267949.a72958"
          ]
      ]
  },
  {
      "id": "7d267949.a72958",
      "type": "http response",
      "z": "c20f618c.15f57",
      "name": "",
      "x": 578,
      "y": 112,
      "wires": []
  },
  {
      "id": "3d10ddbf.eba732",
      "type": "http in",
      "z": "c20f618c.15f57",
      "name": "",
      "url": "/test/upload/image",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 212,
      "y": 192,
      "wires": [
          [
              "b77b955.6a91b68"
          ]
      ]
  },
  {
      "id": "b77b955.6a91b68",
      "type": "template",
      "z": "c20f618c.15f57",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<form action=\"http://nodered1201-dev.yzxq2qpgsp.us-east-1.elasticbeanstalk.com/api/v1/image\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
      "x": 412,
      "y": 192,
      "wires": [
          [
              "642043a7.e0c23c"
          ]
      ]
  },
  {
      "id": "642043a7.e0c23c",
      "type": "http response",
      "z": "c20f618c.15f57",
      "name": "",
      "x": 578,
      "y": 192,
      "wires": []
  },
  {
      "id": "d61dd120.118cd",
      "type": "inject",
      "z": "c20f618c.15f57",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 172,
      "y": 464,
      "wires": [
          [
              "6c28f153.585df"
          ]
      ]
  },
  {
      "id": "b86aa7cb.fd4cb8",
      "type": "http request",
      "z": "c20f618c.15f57",
      "name": "",
      "method": "POST",
      "ret": "txt",
      "url": "http://nodered1201-dev.yzxq2qpgsp.us-east-1.elasticbeanstalk.com/api/v1/moment",
      "tls": "",
      "x": 658,
      "y": 464,
      "wires": [
          [
              "2da74c84.635c34"
          ]
      ]
  },
  {
      "id": "afaa1054.1b14c",
      "type": "function",
      "z": "c20f618c.15f57",
      "name": "admin",
      "func": "msg.payload = JSON.stringify({\n    deviceid: \"D001\",\n    unixtime: msg.payload,\n    value1: msg.value1,\n    value2: 1,\n    value3: 12,\n    battery: 0.75\n});\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 494,
      "y": 464,
      "wires": [
          [
              "b86aa7cb.fd4cb8"
          ]
      ]
  },
  {
      "id": "2da74c84.635c34",
      "type": "debug",
      "z": "c20f618c.15f57",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 818,
      "y": 512,
      "wires": []
  },
  {
      "id": "6339f5ea.52410c",
      "type": "function",
      "z": "7583fe25.07e35",
      "name": "admin",
      "func": "var paramsStreams = {};\nparamsStreams.payload = {\n/*  Data: msg.payload,\n  PartitionKey: \"123\",\n  StreamName: \"iot-start-kit-delivery-stream\" */\n};\n\nvar paramsFirehose = {};\nparamsFirehose.payload = {\n  DeliveryStreamName: \"iot-start-kit-delivery-stream\",\n  Record: {Data: JSON.stringify(msg.payload) + \"\\n\"}  // \\n : for athena\n};\n\nreturn [paramsStreams, paramsFirehose];\n",
      "outputs": 2,
      "noerr": 0,
      "x": 418,
      "y": 272,
      "wires": [
          [],
          [
              "83b354f6.76cf88"
          ]
      ]
  },
  {
      "id": "317783fe.ea8bbc",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 834,
      "y": 224,
      "wires": []
  },
  {
      "id": "419ab8f2.ce0d48",
      "type": "http in",
      "z": "c20f618c.15f57",
      "name": "",
      "url": "/enebular",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 176,
      "y": 560,
      "wires": [
          [
              "dc91e22b.8bfd3",
              "746522c5.1c757c"
          ]
      ]
  },
  {
      "id": "dc91e22b.8bfd3",
      "type": "debug",
      "z": "c20f618c.15f57",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 472,
      "y": 528,
      "wires": []
  },
  {
      "id": "746522c5.1c757c",
      "type": "http response",
      "z": "c20f618c.15f57",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 402,
      "y": 592,
      "wires": []
  },
  {
      "id": "b49ed9b9.85edc8",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 834,
      "y": 336,
      "wires": []
  },
  {
      "id": "cfca87ce.094638",
      "type": "http in",
      "z": "ae418026.08717",
      "name": "",
      "url": "/api/v1/postgres/insert",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 248,
      "y": 112,
      "wires": [
          [
              "c38dc449.bdb7b8",
              "d78ea7e6.62afd8"
          ]
      ]
  },
  {
      "id": "c38dc449.bdb7b8",
      "type": "http response",
      "z": "ae418026.08717",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1058,
      "y": 112,
      "wires": []
  },
  {
      "id": "bc0b1ebf.0d579",
      "type": "comment",
      "z": "3bdd7169.8f727e",
      "name": "Batch API",
      "info": "",
      "x": 156,
      "y": 96,
      "wires": []
  },
  {
      "id": "319d53a8.9ed10c",
      "type": "http in",
      "z": "3bdd7169.8f727e",
      "name": "",
      "url": "/api/v1/aggregation",
      "method": "post",
      "upload": true,
      "swaggerDoc": "",
      "x": 206,
      "y": 144,
      "wires": [
          [
              "1307564a.6e329a",
              "c7cfb41a.a72468"
          ]
      ]
  },
  {
      "id": "5d97ceb8.cfc21",
      "type": "debug",
      "z": "3bdd7169.8f727e",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 770,
      "y": 192,
      "wires": []
  },
  {
      "id": "1307564a.6e329a",
      "type": "function",
      "z": "3bdd7169.8f727e",
      "name": "",
      "func": "var base64data = msg.req.files[0].buffer;\n\nmsg.payload = {\n    Bucket: 'higuchi-test-to-20180331',\n    Key: msg.req.files[0].originalname,\n    Body: base64data,\n    ContentType: msg.req.files[0].mimetype,\n    ContentLength: base64data.length //,\n    // ContentEncoding: 'base64',\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 386,
      "y": 192,
      "wires": [
          [
              "acb39069.97b1c"
          ]
      ]
  },
  {
      "id": "c7cfb41a.a72468",
      "type": "http response",
      "z": "3bdd7169.8f727e",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1026,
      "y": 144,
      "wires": []
  },
  {
      "id": "30c2271a.cce658",
      "type": "http in",
      "z": "4698b0bb.d6151",
      "name": "",
      "url": "/api/v1/download/csv",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 158,
      "y": 144,
      "wires": [
          [
              "946c7f77.7bccf",
              "43603cf1.e47ab4",
              "3c533510.3eff9a"
          ]
      ]
  },
  {
      "id": "f3e895e8.ccccf8",
      "type": "debug",
      "z": "4698b0bb.d6151",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 902,
      "y": 192,
      "wires": []
  },
  {
      "id": "c73bb9eb.65c7f8",
      "type": "inject",
      "z": "4698b0bb.d6151",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 144,
      "y": 240,
      "wires": [
          [
              "946c7f77.7bccf"
          ]
      ]
  },
  {
      "id": "946c7f77.7bccf",
      "type": "function",
      "z": "4698b0bb.d6151",
      "name": "function",
      "func": "msg.payload = {\n    QueryExecutionContext: { \n        Database: \"iot_start_kit_db\"\n    },\n    QueryString: 'select * from sensor;',\n    ResultConfiguration: {\n        OutputLocation: 's3://iot-start-kit-csv-by-athena/'\n    }\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 394,
      "y": 192,
      "wires": [
          [
              "5b4fb290.d85e2c"
          ]
      ]
  },
  {
      "id": "43603cf1.e47ab4",
      "type": "http response",
      "z": "4698b0bb.d6151",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 994,
      "y": 144,
      "wires": []
  },
  {
      "id": "14fc60.c343a3a",
      "type": "http in",
      "z": "c3466a65.1866b8",
      "name": "",
      "url": "/api/v1/notification/download/csv",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 214,
      "y": 112,
      "wires": [
          [
              "2f6ab83b.e0bae8",
              "8fe1c15b.d7848",
              "d87b4349.f38c4"
          ]
      ]
  },
  {
      "id": "54e18ec4.a0916",
      "type": "debug",
      "z": "c3466a65.1866b8",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 1158,
      "y": 400,
      "wires": []
  },
  {
      "id": "2f6ab83b.e0bae8",
      "type": "http response",
      "z": "c3466a65.1866b8",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 978,
      "y": 112,
      "wires": []
  },
  {
      "id": "8fe1c15b.d7848",
      "type": "function",
      "z": "c3466a65.1866b8",
      "name": "function",
      "func": "\nvar notification = JSON.parse(msg.payload);\nvar message = JSON.parse(notification.Message);\n\nvar arr = [];\nmessage.Records.forEach(function (record) {\n   var item = {};\n   item.bucket = record.s3.bucket.name;\n   item.key = record.s3.object.key;\n   arr.push(item);\n});\n\nmsg.payload = arr;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 396,
      "y": 192,
      "wires": [
          [
              "9ae83906.7625a8"
          ]
      ]
  },
  {
      "id": "d87b4349.f38c4",
      "type": "debug",
      "z": "c3466a65.1866b8",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload.Message",
      "x": 500,
      "y": 64,
      "wires": []
  },
  {
      "id": "e6f4efba.2589d",
      "type": "debug",
      "z": "c3466a65.1866b8",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 886,
      "y": 192,
      "wires": []
  },
  {
      "id": "9ae83906.7625a8",
      "type": "split",
      "z": "c3466a65.1866b8",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 546,
      "y": 192,
      "wires": [
          [
              "7d88b18d.cd80f"
          ]
      ]
  },
  {
      "id": "7d88b18d.cd80f",
      "type": "function",
      "z": "c3466a65.1866b8",
      "name": "",
      "func": "/*\nvar params = {\n  Bucket: '<Bucket名>',\n  Key: '<アクセスするオブジェクト>',\n  Expires: 60 //sec\n};\n\ns3.getSignedUrl('getObject', params, function(err, url) {\n  console.log('The URL is', url);\n});\n*/\n\nmsg.payload = {\n  Bucket: msg.payload.bucket,\n  Key: msg.payload.key,\n  Expires: 900 // 15分\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 690,
      "y": 192,
      "wires": [
          [
              "e6f4efba.2589d",
              "6377528f.22db8c"
          ]
      ]
  },
  {
      "id": "6df55719.a4b528",
      "type": "function",
      "z": "c3466a65.1866b8",
      "name": "",
      "func": "msg.payload = {\n  //channel: \"#bot\",\n  username:\"keepgoing\",\n  text:\"ダウンロードURLはこちらです\\n\" + msg.payload,\n  icon_emoji: \":ghost:\"\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 770,
      "y": 400,
      "wires": [
          [
              "e4368a1d.d83658"
          ]
      ]
  },
  {
      "id": "e4368a1d.d83658",
      "type": "http request",
      "z": "c3466a65.1866b8",
      "name": "Post to Slack",
      "method": "POST",
      "ret": "txt",
      "url": "https://hooks.slack.com/services/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",
      "tls": "",
      "x": 950,
      "y": 400,
      "wires": [
          [
              "54e18ec4.a0916"
          ]
      ]
  },
  {
      "id": "ab610a9c.471938",
      "type": "aws-sdk-anything",
      "z": "7583fe25.07e35",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "Kinesis",
      "methodname": "putRecord",
      "operation": "",
      "name": "",
      "x": 638,
      "y": 224,
      "wires": [
          [
              "317783fe.ea8bbc"
          ]
      ]
  },
  {
      "id": "83b354f6.76cf88",
      "type": "aws-sdk-anything",
      "z": "7583fe25.07e35",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "Firehose",
      "methodname": "putRecord",
      "operation": "",
      "name": "",
      "x": 638,
      "y": 336,
      "wires": [
          [
              "b49ed9b9.85edc8"
          ]
      ]
  },
  {
      "id": "acb39069.97b1c",
      "type": "aws-sdk-anything",
      "z": "3bdd7169.8f727e",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "S3",
      "methodname": "putObject",
      "name": "",
      "x": 586,
      "y": 192,
      "wires": [
          [
              "5d97ceb8.cfc21"
          ]
      ]
  },
  {
      "id": "5b4fb290.d85e2c",
      "type": "aws-sdk-anything",
      "z": "4698b0bb.d6151",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "Athena",
      "methodname": "startQueryExecution",
      "name": "",
      "x": 652,
      "y": 192,
      "wires": [
          [
              "f3e895e8.ccccf8"
          ]
      ]
  },
  {
      "id": "6377528f.22db8c",
      "type": "aws-sdk-anything",
      "z": "c3466a65.1866b8",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "S3",
      "methodname": "getSignedUrl",
      "operation": "getObject",
      "name": "",
      "x": 692,
      "y": 288,
      "wires": [
          [
              "6df55719.a4b528"
          ]
      ]
  },
  {
      "id": "6c28f153.585df",
      "type": "random",
      "z": "c20f618c.15f57",
      "name": "",
      "low": "0",
      "high": "100",
      "inte": "true",
      "property": "value1",
      "x": 328,
      "y": 464,
      "wires": [
          [
              "afaa1054.1b14c"
          ]
      ]
  },
  {
      "id": "f4fe68a9.bb7f98",
      "type": "batch",
      "z": "7583fe25.07e35",
      "name": "",
      "mode": "interval",
      "count": 10,
      "overlap": 0,
      "interval": "10",
      "allowEmptySequence": false,
      "topics": [],
      "x": 418,
      "y": 448,
      "wires": [
          [
              "62dbdaa9.940604"
          ]
      ]
  },
  {
      "id": "62dbdaa9.940604",
      "type": "join",
      "z": "7583fe25.07e35",
      "name": "admin",
      "mode": "auto",
      "build": "string",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 562,
      "y": 448,
      "wires": [
          [
              "97d2946e.e91358",
              "5d2fef82.9fbae",
              "a05aee5c.b8d38"
          ]
      ]
  },
  {
      "id": "97d2946e.e91358",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 774,
      "y": 512,
      "wires": []
  },
  {
      "id": "f652b909.506c28",
      "type": "aws-sdk-anything",
      "z": "7583fe25.07e35",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "Lambda",
      "methodname": "invoke",
      "operation": "",
      "name": "",
      "x": 900,
      "y": 448,
      "wires": [
          [
              "9668e373.0290b"
          ]
      ]
  },
  {
      "id": "9668e373.0290b",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 1110,
      "y": 448,
      "wires": []
  },
  {
      "id": "5d2fef82.9fbae",
      "type": "function",
      "z": "7583fe25.07e35",
      "name": "admin",
      "func": "var params = {\n  ClientContext: \"MyApp\", \n  FunctionName: \"IoT-Start-Kit-Particle-Function\", \n  InvocationType: \"Event\", \n  LogType: \"Tail\", \n  Payload: JSON.stringify(msg.payload)\n};\n\nmsg.payload = params;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 722,
      "y": 448,
      "wires": [
          [
              "f652b909.506c28"
          ]
      ]
  },
  {
      "id": "e77af136.e17b8",
      "type": "inject",
      "z": "7583fe25.07e35",
      "name": "",
      "topic": "",
      "payload": "{\"gid\":\"g01\",\"sid\":\"s01\",\"stype\":\"TM\",\"val\":23.5,\"time\":1526971342130}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 114,
      "y": 544,
      "wires": [
          [
              "2e9ed463.9e7f1c"
          ]
      ]
  },
  {
      "id": "2e9ed463.9e7f1c",
      "type": "function",
      "z": "7583fe25.07e35",
      "name": "",
      "func": "var seconds = new Date().getSeconds();\n\nvar min = (seconds * 100) ;\nvar max = min + 4000 ;\nvar a = Math.floor( Math.random() * (max + 1 - min) ) + min ;\n\n\nvar minutes = new Date().getMinutes();\nif (minutes % 2 === 0) {\n    a = 10000 - a;\n}\n\nvar time = new Date().getTime();\n\nmsg.payload.val = a / 100;\nmsg.payload.time = time;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 258,
      "y": 592,
      "wires": [
          [
              "236e27bb.6d90f8"
          ]
      ]
  },
  {
      "id": "351d5a6d.5747e6",
      "type": "inject",
      "z": "7583fe25.07e35",
      "name": "",
      "topic": "",
      "payload": "{\"gid\":\"GWXX001\",\"sid\":\"SSXX002\",\"stype\":\"TM\",\"val\":23.5,\"time\":1526971342130}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 114,
      "y": 592,
      "wires": [
          [
              "2e9ed463.9e7f1c"
          ]
      ]
  },
  {
      "id": "afbd87d6.860668",
      "type": "inject",
      "z": "7583fe25.07e35",
      "name": "",
      "topic": "",
      "payload": "{\"gid\":\"GWXX001\",\"sid\":\"SSXX003\",\"stype\":\"TM\",\"val\":23.5,\"time\":1526971342130}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 114,
      "y": 640,
      "wires": [
          [
              "2e9ed463.9e7f1c"
          ]
      ]
  },
  {
      "id": "52ba2307.61ccdc",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "for Test",
      "info": "",
      "x": 114,
      "y": 496,
      "wires": []
  },
  {
      "id": "482fac54.b66374",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "Kinesis Streams",
      "info": "",
      "x": 608,
      "y": 176,
      "wires": []
  },
  {
      "id": "d4dd0290.8e68a",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "Kinesis Firehose",
      "info": "",
      "x": 608,
      "y": 288,
      "wires": []
  },
  {
      "id": "580ccc4e.4a5134",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "Instead of Kinesis Streams",
      "info": "",
      "x": 478,
      "y": 400,
      "wires": []
  },
  {
      "id": "81cb88a4.267c88",
      "type": "comment",
      "z": "7583fe25.07e35",
      "name": "Call enebular flows",
      "info": "",
      "x": 890,
      "y": 400,
      "wires": []
  },
  {
      "id": "36523ac4.dcf7b6",
      "type": "comment",
      "z": "c399aa20.50a1d8",
      "name": "Image API",
      "info": "",
      "x": 156,
      "y": 96,
      "wires": []
  },
  {
      "id": "bb6fe314.d0c4f",
      "type": "http in",
      "z": "c399aa20.50a1d8",
      "name": "",
      "url": "/api/v1/image",
      "method": "post",
      "upload": true,
      "swaggerDoc": "",
      "x": 186,
      "y": 144,
      "wires": [
          [
              "46511ba6.4dbd34",
              "46a229e6.3d2a18"
          ]
      ]
  },
  {
      "id": "f49116ea.c9f9e8",
      "type": "debug",
      "z": "c399aa20.50a1d8",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 770,
      "y": 192,
      "wires": []
  },
  {
      "id": "46511ba6.4dbd34",
      "type": "function",
      "z": "c399aa20.50a1d8",
      "name": "",
      "func": "var base64data = msg.req.files[0].buffer;\n\nmsg.payload = {\n    Bucket: 'higuchi-test-to-20180331',\n    Key: msg.req.files[0].originalname,\n    Body: base64data,\n    ContentType: msg.req.files[0].mimetype,\n    ContentLength: base64data.length //,\n    // ContentEncoding: 'base64',\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 386,
      "y": 192,
      "wires": [
          [
              "a269104c.1b0b4"
          ]
      ]
  },
  {
      "id": "46a229e6.3d2a18",
      "type": "http response",
      "z": "c399aa20.50a1d8",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1026,
      "y": 144,
      "wires": []
  },
  {
      "id": "a269104c.1b0b4",
      "type": "aws-sdk-anything",
      "z": "c399aa20.50a1d8",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "S3",
      "methodname": "putObject",
      "name": "",
      "x": 586,
      "y": 192,
      "wires": [
          [
              "f49116ea.c9f9e8"
          ]
      ]
  },
  {
      "id": "97f87657.fdae38",
      "type": "comment",
      "z": "ae418026.08717",
      "name": "Add data in postgres",
      "info": "",
      "x": 228,
      "y": 64,
      "wires": []
  },
  {
      "id": "e8764c12.a6bcf",
      "type": "comment",
      "z": "4698b0bb.d6151",
      "name": "Download CSV",
      "info": "",
      "x": 128,
      "y": 96,
      "wires": []
  },
  {
      "id": "92055b6.6805fa8",
      "type": "comment",
      "z": "c3466a65.1866b8",
      "name": "Post Slack",
      "info": "",
      "x": 940,
      "y": 352,
      "wires": []
  },
  {
      "id": "236e27bb.6d90f8",
      "type": "http request",
      "z": "7583fe25.07e35",
      "name": "",
      "method": "POST",
      "ret": "txt",
      "url": "http://localhost:3000/api/v1/particle",
      "tls": "",
      "x": 342,
      "y": 672,
      "wires": [
          [
              "912d40cf.e945e"
          ]
      ]
  },
  {
      "id": "912d40cf.e945e",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 502,
      "y": 720,
      "wires": []
  },
  {
      "id": "b0dea56.ff32158",
      "type": "function",
      "z": "ae418026.08717",
      "name": "function",
      "func": "var arr = [];\nvar queryParameters = {};\nvar placeHolders = [];\n\nvar head = msg.tableHeaders;\n\nvar delimiter = \"\";\nfor (var i=0; i < msg.payload.length; i++) {\n    var record = msg.payload[i];\n    var placeHolder = \"\";\n    var delimiterValue = \"\";\n    for (var j=0; j<head.length; j++) {\n        var key = head[j];\n        queryParameters[key + i] = record[key];\n        placeHolder += delimiterValue + \"$\" + key + i;\n        delimiterValue = \",\";\n    }\n    placeHolders.push(delimiter + \"(\" + placeHolder + \")\");\n    \n    delimiter = \",\";\n}\n\ndelimiter = \"\";\nfor (var i=0; i<head.length; i++) {\n    \n    head[i] = delimiter + head[i];\n    delimiter = \",\";\n}\n\nmsg.queryParameters = queryParameters;\nmsg.arr = arr;\nmsg.head = head;\nmsg.placeHolder = placeHolders;\nmsg.table = msg.tableName;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 636,
      "y": 176,
      "wires": [
          [
              "f187f188.f8cd5",
              "ce11a7cb.6445a8"
          ]
      ]
  },
  {
      "id": "f187f188.f8cd5",
      "type": "template",
      "z": "ae418026.08717",
      "name": "template",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "insert into {{table}} (\n{{#head}}\n{{.}}\n{{/head}}\n) values \n{{#placeHolder}}\n{{.}}\n{{/placeHolder}}\n",
      "x": 812,
      "y": 176,
      "wires": [
          [
              "e614f952.20c768",
              "999bed9f.e74ca"
          ]
      ]
  },
  {
      "id": "d78ea7e6.62afd8",
      "type": "function",
      "z": "ae418026.08717",
      "name": "test data",
      "func": "msg.tableHeaders = Object.keys(msg.payload[0]);\nmsg.tableName = \"iot_start_kit_sensor\";\n\n/*\n// example\nmsg.payload = [\n    {gid:\"GWXX001\",sid:\"SSXX001\",stype:\"TM\",val:23.5,time:1526971342130},\n    {gid:\"GWXX002\",sid:\"SSXX002\",stype:\"SN\",val:45.3,time:1526971342131},\n    {gid:\"GWXX003\",sid:\"SSXX003\",stype:\"EL\",val:0.51,time:1526971342132},\n    {gid:\"GWXX004\",sid:\"SSXX004\",stype:\"LT\",val:12.25,time:1526971342133},\n    {gid:\"GWXX005\",sid:\"SSXX005\",stype:\"HG\",val:35.9,time:1526971342134},\n  ];\n*/\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 476,
      "y": 176,
      "wires": [
          [
              "b0dea56.ff32158"
          ]
      ]
  },
  {
      "id": "ce11a7cb.6445a8",
      "type": "debug",
      "z": "ae418026.08717",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 562,
      "y": 256,
      "wires": []
  },
  {
      "id": "1ed51c2a.9a5e84",
      "type": "debug",
      "z": "ae418026.08717",
      "name": "",
      "active": false,
      "console": "true",
      "complete": "payload",
      "x": 992,
      "y": 240,
      "wires": []
  },
  {
      "id": "e614f952.20c768",
      "type": "postgres",
      "z": "ae418026.08717",
      "postgresdb": "98cc60f6.59bc7",
      "name": "postgres",
      "output": true,
      "outputs": 1,
      "x": 812,
      "y": 240,
      "wires": [
          [
              "1ed51c2a.9a5e84"
          ]
      ]
  },
  {
      "id": "a05aee5c.b8d38",
      "type": "http request",
      "z": "7583fe25.07e35",
      "name": "",
      "method": "POST",
      "ret": "txt",
      "url": "http://localhost:3000/api/v1/postgres/insert",
      "tls": "",
      "x": 742,
      "y": 576,
      "wires": [
          [
              "764bcb8f.8143b4"
          ]
      ]
  },
  {
      "id": "764bcb8f.8143b4",
      "type": "debug",
      "z": "7583fe25.07e35",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 950,
      "y": 576,
      "wires": []
  },
  {
      "id": "999bed9f.e74ca",
      "type": "debug",
      "z": "ae418026.08717",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "x": 978,
      "y": 160,
      "wires": []
  },
  {
      "id": "9694122.337eaf",
      "type": "http in",
      "z": "c399aa20.50a1d8",
      "name": "",
      "url": "/api/v1/view",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 176,
      "y": 368,
      "wires": [
          [
              "f1c17440.9caa98"
          ]
      ]
  },
  {
      "id": "11b6423f.a8377e",
      "type": "debug",
      "z": "c399aa20.50a1d8",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 902,
      "y": 304,
      "wires": []
  },
  {
      "id": "c8085593.0729d8",
      "type": "http response",
      "z": "c399aa20.50a1d8",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 866,
      "y": 432,
      "wires": []
  },
  {
      "id": "4984f475.6bb57c",
      "type": "aws-sdk-anything",
      "z": "c399aa20.50a1d8",
      "aws": "1cd6cc46.11b024",
      "region": "",
      "servicename": "S3",
      "methodname": "getObject",
      "operation": "",
      "name": "",
      "x": 570,
      "y": 352,
      "wires": [
          [
              "11b6423f.a8377e",
              "ba6a0406.bf3868"
          ]
      ]
  },
  {
      "id": "f1c17440.9caa98",
      "type": "function",
      "z": "c399aa20.50a1d8",
      "name": "",
      "func": "var params = {\n  Bucket: \"iot-start-kit-images\", \n  Key: \"2018/05/30/13/25/P_2018-05-29_14-57-12.jpg\"\n};\nmsg.payload = params;\n\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 386,
      "y": 368,
      "wires": [
          [
              "4984f475.6bb57c"
          ]
      ]
  },
  {
      "id": "accc8f6e.aea9",
      "type": "inject",
      "z": "c399aa20.50a1d8",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 176,
      "y": 304,
      "wires": [
          [
              "f1c17440.9caa98"
          ]
      ]
  },
  {
      "id": "ba6a0406.bf3868",
      "type": "function",
      "z": "c399aa20.50a1d8",
      "name": "",
      "func": "\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'image/jpeg';\n\nmsg.payload = msg.payload.Body;\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 738,
      "y": 400,
      "wires": [
          [
              "c8085593.0729d8"
          ]
      ]
  },
  {
      "id": "e31fa2f9.6eb8a",
      "type": "inject",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "topic": "",
      "payload": "35.627639,139.73652",
      "payloadType": "str",
      "repeat": "60",
      "crontab": "",
      "once": false,
      "onceDelay": "",
      "x": 212,
      "y": 80,
      "wires": [
          [
              "e9bc9f47.85377"
          ]
      ]
  },
  {
      "id": "dfc96c66.4db24",
      "type": "debug",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 755.9999847412109,
      "y": 385.65907859802246,
      "wires": []
  },
  {
      "id": "5ab7211d.51bf1",
      "type": "function",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "func": "var t = new Date().getTime();\nmsg.payload = {\n    time: t,\n    geohash: msg.payload,\n    hostname: \"local\",\n    location: \"Tokyo\",\n    value: 6\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 465.0113945007324,
      "y": 187.79543495178223,
      "wires": [
          [
              "522cd59c.d3c59c"
          ]
      ]
  },
  {
      "id": "bb02c782.2785a8",
      "type": "inject",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 140,
      "y": 288,
      "wires": [
          [
              "3afe2564.779d9a"
          ]
      ]
  },
  {
      "id": "3afe2564.779d9a",
      "type": "template",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "field": "query",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "SELECT * FROM \"humidity\" ORDER BY time DESC LIMIT 1",
      "x": 303.0113830566406,
      "y": 312.6079864501953,
      "wires": [
          [
              "150b4017.a5b8c"
          ]
      ]
  },
  {
      "id": "e9bc9f47.85377",
      "type": "geohash",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "property": "payload",
      "x": 344.3238983154297,
      "y": 141.7585391998291,
      "wires": [
          [
              "5ab7211d.51bf1",
              "5cf0209.85609e"
          ]
      ]
  },
  {
      "id": "522cd59c.d3c59c",
      "type": "influxdb out",
      "z": "c15f70c9.8a8ad",
      "influxdb": "bec60077.b4c74",
      "name": "",
      "measurement": "humidity",
      "precision": "ms",
      "retentionPolicy": "",
      "x": 834,
      "y": 240,
      "wires": []
  },
  {
      "id": "150b4017.a5b8c",
      "type": "influxdb in",
      "z": "c15f70c9.8a8ad",
      "influxdb": "bec60077.b4c74",
      "name": "",
      "query": "",
      "rawOutput": false,
      "precision": "",
      "retentionPolicy": "",
      "x": 737.3239135742188,
      "y": 330.75851821899414,
      "wires": [
          [
              "dfc96c66.4db24"
          ]
      ]
  },
  {
      "id": "9cc6230d.5ed1",
      "type": "comment",
      "z": "c15f70c9.8a8ad",
      "name": "create database",
      "info": "curl -i -XPOST http://iot-start-kit-influxdb.ap-northeast-1.elasticbeanstalk.com/query --data-urlencode \"q=CREATE DATABASE geolocation\"",
      "x": 176,
      "y": 496,
      "wires": []
  },
  {
      "id": "d49bce4b.c7b82",
      "type": "inject",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 140,
      "y": 400,
      "wires": [
          [
              "d4bb69dc.febb18"
          ]
      ]
  },
  {
      "id": "d4bb69dc.febb18",
      "type": "template",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "field": "query",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "SELECT max(\"value\"), \"geohash\" FROM \"humidity\" WHERE time >= 1527519600000ms and time <= 1527605999999ms",
      "x": 300,
      "y": 368,
      "wires": [
          [
              "150b4017.a5b8c"
          ]
      ]
  },
  {
      "id": "5cf0209.85609e",
      "type": "geohash",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "property": "payload",
      "x": 524,
      "y": 128,
      "wires": [
          [
              "88cd5763.ab9328"
          ]
      ]
  },
  {
      "id": "88cd5763.ab9328",
      "type": "debug",
      "z": "c15f70c9.8a8ad",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 688,
      "y": 128,
      "wires": []
  },
  {
      "id": "3c533510.3eff9a",
      "type": "debug",
      "z": "4698b0bb.d6151",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 432,
      "y": 80,
      "wires": []
  }
]
