nodered/flows.json
[
    {
        "id": "e7f59f82.7ce1c",
        "type": "tab",
        "label": "API-Stream-JSON",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b973239.161ece",
        "type": "tab",
        "label": "API-Upload-Binary",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1cd6cc46.11b024",
        "type": "aws-sdk-anything-config",
        "z": "",
        "name": "AWS",
        "region": "ap-northeast-1"
    },
    {
        "id": "557463a6.07eb4c",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 176,
        "wires": []
    },
    {
        "id": "d5841c90.823ff",
        "type": "http in",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "url": "/v1/stream/json",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 158,
        "y": 128,
        "wires": [
            [
                "7f39a0b2.576fa",
                "557463a6.07eb4c",
                "a9bd06fe.8ab5b8"
            ]
        ]
    },
    {
        "id": "e52a7442.9eab98",
        "type": "comment",
        "z": "e7f59f82.7ce1c",
        "name": "Real Time API",
        "info": "",
        "x": 118,
        "y": 96,
        "wires": []
    },
    {
        "id": "7f39a0b2.576fa",
        "type": "http response",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 898,
        "y": 128,
        "wires": []
    },
    {
        "id": "2296a90b.e6b316",
        "type": "function",
        "z": "e7f59f82.7ce1c",
        "name": "transform",
        "func": "var paramsFirehose = {};\nparamsFirehose.payload = {\n  DeliveryStreamName: msg.deliveryStreamName,\n  Record: {Data: JSON.stringify(msg.payload) + \"\\n\"}  // \\n : for athena\n};\n\nreturn paramsFirehose;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 428,
        "y": 336,
        "wires": [
            [
                "d135b28e.e9921"
            ]
        ]
    },
    {
        "id": "82c405d0.28c168",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 336,
        "wires": []
    },
    {
        "id": "33c2866b.603f9a",
        "type": "comment",
        "z": "1b973239.161ece",
        "name": "Batch API",
        "info": "",
        "x": 140,
        "y": 96,
        "wires": []
    },
    {
        "id": "ab928214.dba5c",
        "type": "http in",
        "z": "1b973239.161ece",
        "name": "",
        "url": "/v1/upload/binary",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 200,
        "y": 144,
        "wires": [
            [
                "f401e040.ed089",
                "9ff07f4a.11175"
            ]
        ]
    },
    {
        "id": "ca29a21f.621f8",
        "type": "debug",
        "z": "1b973239.161ece",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 962,
        "y": 256,
        "wires": []
    },
    {
        "id": "9bc86b0a.70e678",
        "type": "function",
        "z": "1b973239.161ece",
        "name": "make params",
        "func": "var base64data = msg.req.files[0].buffer;\n\nmsg.payload = {\n    Bucket: msg.binaryBucketName,\n    Key: msg.req.files[0].originalname,\n    Body: base64data,\n    ContentType: msg.req.files[0].mimetype,\n    ContentLength: base64data.length //,\n    // ContentEncoding: 'base64',\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 256,
        "wires": [
            [
                "4d2c0dc3.d96624"
            ]
        ]
    },
    {
        "id": "f401e040.ed089",
        "type": "http response",
        "z": "1b973239.161ece",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1026,
        "y": 144,
        "wires": []
    },
    {
        "id": "d135b28e.e9921",
        "type": "aws-sdk-anything",
        "z": "e7f59f82.7ce1c",
        "aws": "1cd6cc46.11b024",
        "region": "",
        "servicename": "Firehose",
        "methodname": "putRecord",
        "operation": "",
        "name": "",
        "x": 638,
        "y": 336,
        "wires": [
            [
                "82c405d0.28c168"
            ]
        ]
    },
    {
        "id": "4d2c0dc3.d96624",
        "type": "aws-sdk-anything",
        "z": "1b973239.161ece",
        "aws": "1cd6cc46.11b024",
        "region": "",
        "servicename": "S3",
        "methodname": "putObject",
        "name": "",
        "x": 794,
        "y": 256,
        "wires": [
            [
                "ca29a21f.621f8"
            ]
        ]
    },
    {
        "id": "c6181c22.9c2f2",
        "type": "batch",
        "z": "e7f59f82.7ce1c",
        "name": "batch",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "10",
        "allowEmptySequence": false,
        "topics": [],
        "x": 418,
        "y": 448,
        "wires": [
            [
                "5cb91133.06a68"
            ]
        ]
    },
    {
        "id": "5cb91133.06a68",
        "type": "join",
        "z": "e7f59f82.7ce1c",
        "name": "join",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 562,
        "y": 448,
        "wires": [
            [
                "58d3ae4.703595"
            ]
        ]
    },
    {
        "id": "e7c087a4.e745b8",
        "type": "aws-sdk-anything",
        "z": "e7f59f82.7ce1c",
        "aws": "1cd6cc46.11b024",
        "region": "",
        "servicename": "Lambda",
        "methodname": "invoke",
        "operation": "",
        "name": "",
        "x": 900,
        "y": 448,
        "wires": [
            [
                "78cf9fcf.b8d86"
            ]
        ]
    },
    {
        "id": "78cf9fcf.b8d86",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 448,
        "wires": []
    },
    {
        "id": "58d3ae4.703595",
        "type": "function",
        "z": "e7f59f82.7ce1c",
        "name": "transform",
        "func": "var params = {\n  ClientContext: \"MyApp\", \n  FunctionName: msg.streamFunctionName, \n  InvocationType: \"Event\", \n  LogType: \"Tail\", \n  Payload: JSON.stringify(msg.payload)\n};\n\nmsg.payload = params;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 448,
        "wires": [
            [
                "e7c087a4.e745b8"
            ]
        ]
    },
    {
        "id": "a46f21ce.3dfd3",
        "type": "comment",
        "z": "e7f59f82.7ce1c",
        "name": "TEST",
        "info": "",
        "x": 114,
        "y": 512,
        "wires": []
    },
    {
        "id": "37751cc4.4be914",
        "type": "comment",
        "z": "e7f59f82.7ce1c",
        "name": "for firehose",
        "info": "",
        "x": 428,
        "y": 304,
        "wires": []
    },
    {
        "id": "386e2738.82f438",
        "type": "comment",
        "z": "e7f59f82.7ce1c",
        "name": "for enebular lambda",
        "info": "",
        "x": 458,
        "y": 416,
        "wires": []
    },
    {
        "id": "5895bf67.262e7",
        "type": "www-request",
        "z": "e7f59f82.7ce1c",
        "name": "call influxdb api",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "follow-redirects": true,
        "tls": "",
        "x": 736,
        "y": 224,
        "wires": [
            [
                "4135c7a2.80db48"
            ]
        ]
    },
    {
        "id": "4135c7a2.80db48",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 224,
        "wires": []
    },
    {
        "id": "7deb312e.7a4ce",
        "type": "function",
        "z": "e7f59f82.7ce1c",
        "name": "transform",
        "func": "var time = new Date().getTime();\n\nvar obj = JSON.parse(msg.payload);\nvar fields = \"\";\nvar tags = \"\";\nvar delim = \"\";\nfor (let k in obj) {\n  let v = obj[k];\n  if (typeof v === \"string\") {\n    tags += `,${k}=${v}`;\n  } else {\n    fields += `${delim}${k}=${v}`;\n    delim = \",\";\n  }\n}\n\nvar series = \"devices\";\n\nmsg.payload = `${series}${tags} ${fields} ${time}`;\nmsg.headers = {\"content-type\": \"application/octet-stream\"};\nmsg.url = msg.influxdbApiWriteUrl + \"/write?db=iotstartkit&precision=ms\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 428,
        "y": 224,
        "wires": [
            [
                "5895bf67.262e7"
            ]
        ]
    },
    {
        "id": "e73bb2a8.62e37",
        "type": "comment",
        "z": "e7f59f82.7ce1c",
        "name": "for influxdb",
        "info": "",
        "x": 428,
        "y": 192,
        "wires": []
    },
    {
        "id": "23742280.e5f4ae",
        "type": "inject",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 156,
        "y": 560,
        "wires": [
            [
                "d06e5518.f37fd8"
            ]
        ]
    },
    {
        "id": "d2581ef3.afe97",
        "type": "template",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "{\n    \"gid\": \"G1\",\n    \"sid\": \"S1\",\n    \"val\": {{{value}}}\n}",
        "output": "str",
        "x": 172,
        "y": 720,
        "wires": [
            [
                "89fda7a4.068448"
            ]
        ]
    },
    {
        "id": "f58b54e.ca6bfa8",
        "type": "function",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "func": "var t = new Date().getTime();\nmsg.value = Number(String(t).slice(8, -1)) / 100 + 20;\nmsg.url = nmsg.url + \"/api/v1/stream/json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 162,
        "y": 672,
        "wires": [
            [
                "d2581ef3.afe97"
            ]
        ]
    },
    {
        "id": "89fda7a4.068448",
        "type": "http request",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 342,
        "y": 688,
        "wires": [
            [
                "9d53b1c.2a8f95"
            ]
        ]
    },
    {
        "id": "9d53b1c.2a8f95",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 422,
        "y": 752,
        "wires": []
    },
    {
        "id": "ab3b3bc8.d99148",
        "type": "http in",
        "z": "1b973239.161ece",
        "name": "",
        "url": "/test/upload/binary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 368,
        "wires": [
            [
                "d38f01bf.00fda"
            ]
        ]
    },
    {
        "id": "312ecd21.e0f082",
        "type": "template",
        "z": "1b973239.161ece",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<form action=\"http://{{{brokerUrl}}}/api/v1/upload/binary\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
        "x": 636,
        "y": 368,
        "wires": [
            [
                "2c1471a.356b08e"
            ]
        ]
    },
    {
        "id": "2c1471a.356b08e",
        "type": "http response",
        "z": "1b973239.161ece",
        "name": "",
        "x": 802,
        "y": 368,
        "wires": []
    },
    {
        "id": "639b48e5.469ce8",
        "type": "comment",
        "z": "1b973239.161ece",
        "name": "TEST",
        "info": "",
        "x": 130,
        "y": 336,
        "wires": []
    },
    {
        "id": "f1b4f29.1c3d81",
        "type": "inject",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "topic": "",
        "payload": "35.627639,139.73652",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 580,
        "y": 576,
        "wires": [
            [
                "c7b89ac4.6d9ec8"
            ]
        ]
    },
    {
        "id": "33768eb4.6e8932",
        "type": "function",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "func": "var t = new Date().getTime();\nmsg.payload = {\n    time: t,\n    geohash: msg.payload,\n    hostname: \"local\",\n    location: \"Tokyo\",\n    value: 6\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 882,
        "y": 672,
        "wires": [
            [
                "bc648a4f.de7dd8"
            ]
        ]
    },
    {
        "id": "c7b89ac4.6d9ec8",
        "type": "geohash",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "property": "payload",
        "x": 722.3238983154297,
        "y": 637.7585391998291,
        "wires": [
            [
                "33768eb4.6e8932",
                "3ccfd95c.6787a6"
            ]
        ]
    },
    {
        "id": "3ccfd95c.6787a6",
        "type": "geohash",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "property": "payload",
        "x": 902,
        "y": 624,
        "wires": [
            [
                "bc648a4f.de7dd8"
            ]
        ]
    },
    {
        "id": "bc648a4f.de7dd8",
        "type": "debug",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1062,
        "y": 656,
        "wires": []
    },
    {
        "id": "e644e90d.9ac0f8",
        "type": "random",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "value1",
        "x": 428,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a9bd06fe.8ab5b8",
        "type": "change",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "influxdbApiWriteUrl",
                "pt": "msg",
                "to": "INFLUXDB_API_WRITE_URL",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deliveryStreamName",
                "pt": "msg",
                "to": "DELIVERY_STREAM_NAME",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "streamFunctionName",
                "pt": "msg",
                "to": "STREAM_FUNCTION_NAME",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 192,
        "y": 224,
        "wires": [
            [
                "c6181c22.9c2f2",
                "2296a90b.e6b316",
                "7deb312e.7a4ce"
            ]
        ]
    },
    {
        "id": "9ff07f4a.11175",
        "type": "change",
        "z": "1b973239.161ece",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "binaryBucketName",
                "pt": "msg",
                "to": "BINARY_BUCKET_NAME",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 344,
        "y": 256,
        "wires": [
            [
                "9bc86b0a.70e678"
            ]
        ]
    },
    {
        "id": "d38f01bf.00fda",
        "type": "change",
        "z": "1b973239.161ece",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "brokerUrl",
                "pt": "msg",
                "to": "BROKER_URL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 458,
        "y": 368,
        "wires": [
            [
                "312ecd21.e0f082"
            ]
        ]
    },
    {
        "id": "d06e5518.f37fd8",
        "type": "change",
        "z": "e7f59f82.7ce1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "BROKER_URL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 166,
        "y": 624,
        "wires": [
            [
                "f58b54e.ca6bfa8"
            ]
        ]
    }
]
